<span id='main-cont-p'>
<a href='/events/event_create'>create event</a>
</br>
<% @events.each do |x| %>
</br>
<a href='/events/event_edit/<%= x.id%>'>edit event</a></br>
<h2> <%= x.event_name %> </h2></br>
<h3> <%= x.desc %></h3></br>
<h3> <%= x.location %></h3></br>
<h3> <%= x.start_time %> - <%= x.end_time %></h3>
<a href='/events/event_delete/<%= x.id%>'>delete event</a>
</br>

<% end %>
</span>