<span id='main-cont-p'><% @events.each do |x| %>
<h2> <%= x.event_name %> </h2></br>
<h3> <%= x.desc %></h3></br>
<h3> <%= x.location %></h3></br>
<h3> <%= x.start_time %> - <%= x.end_time %></h3></br>
<% end %>
</span>